<style>
  @import "app.component.sass";
</style>

<div id="app-root-id">
  <div class="header">
    <h1 id="mainHeader">Publish your podcasts</h1> 
    <h1 id="subHeader">everywhere.</h1>
  </div>

  <div class="pageInfo">
    <p>
      Upload your audio to Pod with a single click. We’ll then distribute your podcast to Spotify, Apple Podcasts, Google Podcasts, Pocket Casts and more!
    </p>
  </div>

  <form class="emailForm" formGroup="emailRequest">
    <input type="email" name="email" ngModel email="true" placeholder="Email address" required/>
    <button class="button" type="submit">Request access</button>
    <div ngIf="email.invalid" class="invalidEmail">Oops! Please check your email</div>
  </form>

  <table class="hostedPods">
    <tr>
      <td><img src="assets/desktop/spotify.svg" alt="Spotify"></td>
      <td><img src="assets/desktop/apple-podcast.svg" alt="Apple Podcast"></td>
      <td><img src="assets/desktop/google-podcasts.svg" alt="Google Podcasts"></td>
      <td><img src="assets/desktop/pocket-casts.svg" alt="Pocket Casts"></td>
    </tr>
  </table>
</div>
